@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
h5 {
    margin: 0;

}
:root {
  --font-family: "OpenSans", sans-serif;
  --second-family: "BebasNeueBold", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
button {
    margin: 0;
    padding: 0;
}
/* header */
.header {    
   max-width:  1440px;
   
   width: 100%;  
   margin: 0 auto;  
}

.container {    
    margin: 0 auto;
    width: 941px;

}
.header-bg {
    display: block;
    margin: 0 auto;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    
    
}
.logo {
    margin: 0 auto;
    padding-top: 41px;
    display: block;
}

.header-h1 {
    margin-top: 313px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 41px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
}
.header-h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.header-h5 {
    margin-top: 221px;
    text-align: center;
}
.header-h5 a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}


@media screen and (max-width: 580px) {
    .header-bg {
        background-size: cover;
        height: 100%;
        margin: 0 auto;
    }
}
/* navbar */
.navbar {
    border: 1px solid #e6e6e6;
    max-width:  1438px; 
    margin: 0 auto;
}
.navbar-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}
.logo-promo-black {
    width: 80px;
    height: 16px;
}
.nav-list {
    list-style-type:none;
    display: flex;
    
}

.nav-items {
    margin-right: 48px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    color: #48555b;
}
.nav-items:last-child {
    margin-right: 0; 
}

.active{
    color: #00a4e5;
}
@media screen and (max-width: 940px) {
    .navbar-block {
        justify-content: flex-start;
    }
    .navbar {
    border: none;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    }
    .nav-items {
    margin-right: 10px;
    }
} 



/* about */
.about {
    margin-bottom: 100px;
}
.about-h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: center;
    color: #48555b;
    text-transform: uppercase;
}
.line {
    width: 50px;
    height:  2px;
    margin: 0 auto 45px;
    background-color: #00a4e5;

}
.about-block {
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
}
.about-block-text {
    max-width: 400px;
}
.about-h4 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0.01em;
    color: #48555b;
}
.about-p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
}
.konstruct {
    color: #00a4e5;
}

.about-grid {
    display: grid;
    gap: 19px;
    grid-template-columns: repeat(3, 1fr);
}


@media screen and (max-width: 1024px) {
    .about {
        padding-left:20px ;
        padding-right:20px ;
    }
}

@media screen and (max-width: 940px) {
    .about {
        padding-left:20px ;
        padding-right:20px ;
    }
    .about-block {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}
    .about-block-text {
        padding-left: 20px;
    }
}
@media screen and (max-width: 500px) {
    .about-h2 {
        text-align: start;
        margin-left: 15px;
    }
    .line {
        margin-left:  15px;
    }
    .about-grid {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 15px;
        width: 100%;
    }
}
/* services */
.services {
    margin-bottom: 100px;
}
.services-flex {
    display: flex;
    justify-content: space-between;
}
.services-h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #48555b;
}
.services-line {
    margin-left: 0;
}
.services-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    color: #48555b;
    max-width: 400px;
    
}
.services-flex-inner-right {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    justify-content: end;
    gap: 60px;
}
.btn {
    width: 150px;
    height: 40px;
    background-color:#00a4e5;
    border: 0;
    color: #fff;
}
.services-flex-down {
    display: flex;
    justify-content: space-between;
}
.services-flex-project, .services-flex-audit, .services-flex-factory {
    width: 295px;
    height: 330px;
    border: 1px solid #e6e6e6;
    padding-top: 38px;
    padding-left: 23px;
}
.sevices-PROJECT {
    background-image:url(../img/project.svg);
    background-repeat:no-repeat;
    width: 65px;
    height: 75px;
    margin-bottom: 25px;
}
.sevices-h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: #48555b;
    margin-bottom: 13px;
}
.services-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: #48555b;
    line-height: 177%;
    letter-spacing: 0.01em;
}

.sevices-AUDIT {
    background-image:url(../img/audit.svg);
    background-repeat:no-repeat;
    width: 65px;
    height: 75px;

}

.sevices-FACTORY {
    background-image:url(../img/factory.svg);
    background-repeat:no-repeat;
    width: 65px;
    height: 75px;
}

@media screen and (max-width: 990px) {
    .services-flex {
        justify-content: left;
        padding-left: 15px;
    }
    .services-flex-inner-right {
        padding-left: 15px;
    }
    .services-flex-down {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        padding-left: 15px;
        }
    .services-flex-project, .services-flex-audit{
        margin-bottom: 15px;
    }    
}

@media screen and (max-width: 895px) {
     .services-flex {
        flex-direction: column;
    }
     .services-flex-inner-right {
        flex-direction: column;
        margin-bottom: 20px;
     }
} 
/* get-in-touch */
.get-in-touch {
    max-width: 1440px;
    margin: 0 auto;
}
.get-in-touch-bg {
    height: 500px;
    background-image:url(../img/bg.jpg);
    background-repeat:no-repeat;
      background-size: cover;
    background-position: center;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.get-in-touch-h2 {
    padding-top: -120px;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #48555b;
}
.get-in-touch-btn {
    
}

@media screen and (max-width: 800px) {
    .get-in-touch-bg {
        width: 75%;
    }
}
@media screen and (max-width: 428px) {
    .get-in-touch-bg {
        width: 40%;
    }
}

/* news-letter */
.news-letter {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #171819;
}
.news-letter-inner {
    display: flex;
    justify-content:space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}
.news-letter-h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin-top: 0;
}
.get-in-touch-btn {
    height: 40px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

/* footer */
.footer-inner {
    max-width: 1440px;
    height: 240px;
    margin: 0 auto;
    background-color: #141a20;

}
.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.foofter-company {
    width: 250px;
    height: 148px;
}

.footer-h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    color: #fff;
    margin-bottom: 19px;
    padding-top: 42px;
}

.footer-p {
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.08em;
    color: #fff;
}
.footer-nav-list {
    display:flex;
    justify-content: space-around;
}
.footer-nav-list-left {
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-transform: uppercase;
    margin: 0;
    padding: 0;

}
.footer-nav-list-right {
    width: 262px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.footer-nav-item {
    list-style-type: none;
}
.footer-nav-item a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.08em;
    color: #fff;
}
.footer-contacts {
    width: 141px;
    height: 158px;
}

.footer-socials {
    width: 87px;
    height: 13px;
    margin-top: 73px;
}

.footer-contacs p {
    font-weight: 400;
    font-size: 11px;
    line-height: 145%;
    letter-spacing: 0.08em;
    color: #fff;
}
.footer-socials-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.footer-copyrite {
    width: 1440px;
    height: 60px;
    margin: 0 auto;
    background-color: #141a20;
}
.footer-copyrite-h5 {
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    padding-top: 22px;
    padding-bottom: 22px;
}